<h1>Create a Team and Heroes!</h1>

<form method="POST" action="/teams">
  <p>
    <label for="team_name">Team Name: </label>
    <input type="text" id="team_name" name="name">
  </p>

  <p>
    <label for="team_motto">Team Motto: </label>
    <input type="text" id="team_motto" name="motto">
  </p>
</form>

